* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3c3d37;
}

.topnav {
  display: flex;
  overflow: hidden;
  background-color: #697565;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.topnav a {
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #3c3d37;
  color: white;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

#btn {
  padding: 10px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  border: 0px solid;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  cursor: pointer;
  width: auto;
  height: auto;
}

#btn:hover {
  border: 1px solid;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 10px;
  text-shadow: 1px 1px 2px #427388;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.left,
.right {
  width: 25%;
}

.middle {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
